/**** Root Style ****/

#root {
  height: 100%;
}

.App-container {
  margin-top: 30px;
  position:absolute;
  left:20%;
  right:20%;
}

.Album-App-container {
  margin-top: 30px;
  position:absolute;
  left:7%;
  right:7%;
}

/**** Page_UploadImage ****/

.UploadImage{
  margin-left:5em;
  margin-right:5em;
}

.ui.placeholder.segment {
  text-align:center;
  margin:auto;
  background-color:white;
  border-radius: 10px;  
  /* border:2px solid black; */
}

div.btn_transfer {
  text-align:center;  
}

.ui.inverted.button  {
  margin-top: 40px;
  width:300px;
  height:100px;
  font-size: 19px;
  color:#787878;
  border-radius: 30px;  
  border:5px solid #CEE5D0;
  background-color:white;
}

.ui.inverted.button:hover {
  border:5px solid #FFB085;
  color:#787878;
}

.ui.inverted.button:focus {
  font-size: 19px;
  background-color: #787878;
  color: #ffffff;
 
}

div.product {
  display: 'block';
  max-width: 100%;
  max-height: 360px;
  text-align: center;
}

.img_result {
  max-width: 100%;
  max-height: 360px;
}


/**** Page_Album ****/
.Album{
  margin-left:5em;
  margin-right:5em;
}

.search {
  width:100%;
  text-align: center;
}

.tablecontainer {
  height:100%;
  background-color: #f1f1f1;
  border-radius: 3px;
  text-align: center;
}

.tablecontainer span {
  background-color: #111111a6 !important;
  color: #ffffff !important;
}

.ui.input{
  width:100%;
  height:50px;
}

.ui.button{
  width:200px;
  height:50px;
  background-color:#fff8f0;
  border:2px solid #fdf0de;
}

.ui.button:hover{
  background-color:#fdf0de;
}

.searchDiv{
  margin-bottom:40px;
  padding:10px;
}
